<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>云朵之家打卡站点</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://www.itxst.com/package/bootstrap-table-1.14.1/jquery-3.3.1/jquery.js"></script>
    <link href="https://www.itxst.com/package/bootstrap-table-1.14.1/bootstrap-4.3.1/css/bootstrap.css" rel="stylesheet" />
    <link href="https://www.itxst.com/package/bootstrap-table-1.14.1/bootstrap-table-1.14.1/bootstrap-table.css" rel="stylesheet" />
    <script src="https://www.itxst.com/package/bootstrap-table-1.14.1/bootstrap-table-1.14.1/bootstrap-table.js"></script>
    <script src="{{url_for('static', filename='CompressImageUtiles.js')}}"></script>
</head>


<body>
    <div class="container">
        <div class="jumbotron text-center">
        <h1>云朵之家打卡站点</h1>
        <p>坚持打卡, 养成良好的行为习惯!</p> 
        <img src="../static/images/cloud.png" class="img-responsive center-block">
  </div>
    </div>

<table class="table table-bordered">
  <caption class="text-center">打卡勋章发放规则</caption>
  <thead>
    <tr>
      <th>连续打卡时间</th>
      <th>称号</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>5天</td>
      <td>高级自主规划大师</td>
    </tr>
    <tr>
      <td>10天</td>
      <td>特级自主规划大师</td>
    </tr>
    <tr>
      <td>15天</td>
      <td>冠军自主规划大师</td>
    </tr>
    <tr>
      <td>21天</td>
      <td>自主规划大师终生成就奖</td>
    </tr>
  </tbody>
</table>


<div class = "col-md-offset-4 col-lg-offset-4col-xl-offset-4">
<input type="file" name="file" class="file" id="uploadImg" multiple
       accept="image/jpg, image/jpeg, image/png">
<label for="name">姓名:</label>
<input type="text" id="name" name="name" required
       minlength="4" maxlength="8" size="10">
<input type="submit" value="提交打卡", onclick="submit_card()">
</div>

<p></p>
<h1>打卡排行榜</h1>
<table class="table table-bordered" id="rank">
  <caption>打卡排行榜</caption>
  <tbody>
      {% for stu in data %} 
      <tr>
            {% for ele in stu %}      
                {% if ele == "已打卡" %}
                    <td class = "success"> {{ele}} </td>
                {% else %}
                    <td> {{ele}} </td>
                {% endif %}
            {% endfor %}
      </tr>
      {% endfor %}
    <tr>
  </tbody>
</table>
    <script>
        
        var columns = [
            {
                field: '姓名',
                title: '姓名'
            },
            {% for day in days %}
            {
                field: {{day}},
                title: {{day}}
            },
            {% endfor %}
        ]


        
        $('#rank').bootstrapTable({
            columns: columns,
        });
        $('#rank').on('click-cell.bs.table', function (e, field, value, row, $element) {
            console.log(row['姓名'], field);
            url = "http://106.12.165.154:8002/get_image?day=" + field + "&name=" + row['姓名']
            console.log(url)
            if (value == "已打卡"){
                window.open(url)
            }
        }) 
        


        function openWindowWithPost(url, data) {
            var form = document.createElement("form");
            form.target = "_blank";
            form.method = "POST";
            form.action = url;
            form.style.display = "none";

            for (var key in data) {
                var input = document.createElement("input");
                input.type = "hidden";
                input.name = key;
                input.value = data[key];
                form.appendChild(input);
            }
            document.body.appendChild(form);
            form.submit();
            document.body.removeChild(form);
        }        



        function submit_card() {
            let inputDom = document.querySelector('#uploadImg')
            if (inputDom.files.length == 0){
                alert("请先选择要打卡的图片!");
                return;
            }
            const fileObj = inputDom.files[0];
            let name = $("#name").val();
            if (name == ""){
                alert("请输出姓名!")
            }
            console.log(fileObj);
            console.log(name);
            compressImage(fileObj).then(resultObj => {
            let {canvas,blob,base64,fileName,oSize} = resultObj
            console.log('压缩后的结果', blob); // result即为压缩后的结果
            console.log('压缩前大小', oSize/1024);
            console.log('压缩后大小', blob.size/1024);

            // send post
            //let xhr = new XMLHttpRequest();
            //xhr.onreadystatechange=function(){
            //    var new_window = window.open(null, '','_blank');
            //    new_window.document.write(xhr.responseText);
            //}
            //xhr.open("POST", "http://106.12.165.154:8002/upload_image_v2", true);
            //xhr.setRequestHeader("Accept", "application/json");
            //xhr.setRequestHeader("Content-Type", "application/json");

            //xhr.onload = () => console.log(xhr.responseText);
            let data = {
              "username": name,
              "photo": base64,
            };

            //xhr.send(data);
            openWindowWithPost("http://106.12.165.154:8002/upload_image_v2", data);

            // 上传base64
            if (blob.size > oSize){
            console.log('上传原图');
            //压缩后比原来更大，则将原图上传
            //that._uploadFile(file, fileName);
            } else {
            //压缩后比原来小，上传压缩后的
            console.log('上传压缩图');
            //_uploadFile(blob, fileName)
            }
        })
        }
    </script>
</body>
</html>
